html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
@font-face {
font-family: helv;
src:url(fonts/HelveticaNeueW23-Bd.ttf);
src: url(fonts/HelveticaNeueW23-Bd.eot?) format(eot), url(fonts/HelveticaNeueW23-Bd.otf) format(opentype), url(fonts/HelveticaNeueW23-Bd.ttf) format(truetype);
} 
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
h1, h2, h3 {
	text-transform:capitalize;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
input, textarea {
	outline:none;
}
body {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	color: #003e70;
	direction: rtl;
	background-color: #320b28;
	background-attachment: fixed;
	background-image: url(images/blue-bg.jpg);
	background-repeat: repeat;
	background-position: right 36px;
}
/*Start Code*/

/* Top Header */
#top-header-bg {
	  z-index: 9999;
	background: #029dcd; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAyOWRjZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1M2I4ZTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #029dcd 0%, #53b8e4 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#029dcd), color-stop(100%,#53b8e4)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #029dcd 0%,#53b8e4 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #029dcd 0%,#53b8e4 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #029dcd 0%,#53b8e4 100%); /* IE10+ */
background: linear-gradient(to bottom,  #029dcd 0%,#53b8e4 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#029dcd', endColorstr='#53b8e4',GradientType=0 ); /* IE6-8 */
width:100%;
background-attachment:fixed;
background-position:top;
height:35px;
border-bottom:1px solid #fff;
position:fixed;
}
#top-header {
	width:1000px;
	margin:0 auto;
}
#top-header ul{
	list-style:none;
	display:inline-block;
	float:right;
	margin-right:10px;
}
#top-header .fav{
	background-image: url(images/fav.png);
	background-repeat: no-repeat;
	width:30px;
	height:30px;
	display:block;
	margin: 2px 0 0 5px;
}
#top-header .fav a{
	display:block;
	width:100%;
	height:100%;
}
#top-header .fav a:hover{
	background:none;
}
#top-header ul li{
	float:right;
	display:block;
}
#top-header ul li a {
    color: #FFFFFF;
    font: 16px/35px helv,tahoma;
    text-decoration: none;
	padding:0 10px;
	display:block;
    text-shadow: 0 1px 0 #027BA0;
	-webkit-transition:all 0.4s ease 0s;
	-moz-transition:all 0.4s ease 0s;
	-ms-transition:all 0.4s ease 0s;
	-o-transition:all 0.4s ease 0s;
	transition:all 0.4s ease 0s;
}
#top-header ul li a:hover{
	color: #03556e;
	background-color:#fff;
    text-shadow:none;
}
#top-header-date {
    background: #e2e4df; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UyZTRkZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #e2e4df 0%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e4df), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e2e4df 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e2e4df 0%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e2e4df 0%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e2e4df 0%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e4df', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
    border-radius: 2px 2px 2px 2px;
    color: #000;
    display: inline-block;
    float: left;
    font: 14px helv;
    margin: 4px 0 0 10px;
    overflow: hidden;
    padding: 2px 10px 0;
}
/* Top Header */

/* Header */
#header {
    height: 100px;
    margin: 0 auto;
    padding: 45px 0 0;
    width: 1000px;
}
#logo {
	background-image: url(images/logo.png);
	background-repeat: no-repeat;
	float: left;
	height: 65px;
	width: 218px;
	margin:20px 0 0 10px;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
#logo:hover{
	-moz-transform: scale(1.1));
   -webkit-transform: scale(1.1);
   -o-transform: scale(1.1);
   transform: scale(1.1);
   -ms-transform: scale(1.1);
filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand',
   M11=1, M12=-0, M21=0, M22=1);
}
#login {
	float:right;
	margin-right:0;
	width:487px;
	height:100px;
	border:1px solid #141618;
	border-radius: 10px 10px 10px 10px;
	background: #ffffff; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  #ffffff 0%, #f2f2f2 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(99%,#f2f2f2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#f2f2f2 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#f2f2f2 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#f2f2f2 99%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#f2f2f2 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-8 */

}
#login .name {
    background-attachment: scroll;
    background-image: url(images/user.jpg);
    background-position: 0 0;
    background-repeat: repeat;
    border: medium none;
    color: #FFFFFF;
    direction: rtl;
    float: right;
    font: 15px helv,tahoma;
    height: 38px;
    margin: 10px 5px 0 0;
    text-align: center;
    text-indent: 34px;
    text-shadow: 0 1px 0 #1E2327;
    width: 230px;
}
#login .pass {
	background-attachment: scroll;
	background-position: 0 0;
	background-repeat: repeat;
	border: medium none;
	color: #fff;
	text-shadow:0 1px 0 #1e2327;
	direction: rtl;
	float: right;
	font: 15px helv,tahoma;
	height: 38px;
	margin: 10px 5px 0 0;
	text-align: center;
    text-indent: 34px;
	width: 230px;
	background-image: url(images/pass.jpg);
}
#login .button {
    background: #62666a; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYyNjY2YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iIzQ5NGM0ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  #62666a 0%, #494c4e 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#62666a), color-stop(99%,#494c4e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #62666a 0%,#494c4e 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #62666a 0%,#494c4e 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #62666a 0%,#494c4e 99%); /* IE10+ */
background: linear-gradient(to bottom,  #62666a 0%,#494c4e 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62666a', endColorstr='#494c4e',GradientType=0 ); /* IE6-8 */
   border: 1px solid #272D35;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font: 14px helv,tahoma;
    height: 33px;
    margin: 10px 0 0 18px;
    padding: 0 10px;
    text-shadow: 0 1px 0 #161D22;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
#login .button:hover {
    background: #029dcd; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAyOWRjZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1M2I4ZTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #029dcd 0%, #53b8e4 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#029dcd), color-stop(100%,#53b8e4)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #029dcd 0%,#53b8e4 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #029dcd 0%,#53b8e4 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #029dcd 0%,#53b8e4 100%); /* IE10+ */
background: linear-gradient(to bottom,  #029dcd 0%,#53b8e4 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#029dcd', endColorstr='#53b8e4',GradientType=0 ); /* IE6-8 */
    border: 1px solid #fff;
    color: #FFFFFF;
    text-shadow: 0 1px 0 #027BA0;
}
#login .tex {
    color: #000000;
    float: right;
    font: 20px helv,tahoma;
    margin: 10px 10px 0 0;
    text-shadow: 0 1px 0 #FFFFFF;
}
/* Header */

-----------------------------------------------------------------------
}
#rounded-corner td {
    background: none repeat scroll 0 0 #ECF8FD;
    border-top: 1px solid #FFFFFF;
    color: #666699;
    padding: 2px 0;
	direction: ltr;
}

.warning_box {
    background: url(images/warning.png) no-repeat scroll 800px 10px #FCFAE9;
    border: 1px solid #E9E6C7;
    clear: both;
    font: bold 11pt arial;
    margin: 15px 0 10px;
    padding: 20px 60px 15px 20px;
    width: 768px;


}
.valid_box {
    background: url(images/valid.png) no-repeat scroll 800px 10px #EDFCE9;
    border: 1px solid #CCEAC4;
    clear: both;
    font: bold 11pt arial;
    margin: 0 0 10px;
    padding: 20px 60px 15px 20px;
    width: 768px;



}
.error_box {
    background: url(images/error.png) no-repeat scroll 800px 10px #FCE9E9;
    border: 1px solid #EAC7C7;
    clear: both;
    margin: 0 0 20px 10px;
    padding: 20px 60px 15px 20px;
	font: bold 11pt arial;
    width: 768px;
}
#about {
    font: 14px helv;
    padding: 20px;
}





